#promo {
    padding: 5rem 20% 0;
    font-family: var(--karla_regular);
    color: var(--yellow);
    font-size: 2.4rem;
}

.requests {
    padding: 3rem 0 0.5rem 0;
}

.form_one form {
    padding: 3rem 20%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-weight: 600;
}

input, select {
    max-width: 50%;
    height: 3rem;
    font-family: var(--karla_regular);
    font-size: 1.8rem;
    color: var(--green);
}

.form_one label, p {
    font-family: var(--karla_regular);
    font-size: 2.4rem;
    color: var(--green);
}

.form_one .date {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form_one .guests {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form_one .time-button {
    margin: 1rem 0;
    flex: 1;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.form_one .time-button button:hover {
    /* background-color: var(--green);
    color: white; */
    transform: scale(0.95);
}

.form_one .time-button button {
    border: 2px solid var(--green);
    background-color: white;
    font-family: var(--karla_regular);
    font-size: 2.4em;
    border-radius: 1rem;
    color: var(--green);
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}



.form_one .occasion {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form_one .time-button button:active{
    transform: scale(0.9);
}

.form_one .time-button button:disabled{
    background-color: var(--green);
    color: white;
}

.form_two form{
    padding: 0 20% 5%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.form_two div{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form_two label {
    color: var(--green);
    font-size: 2.4em;
    font-family: var(--karla_regular);
}

.form_two input{
    color: var(--green);
    font-family: var(--karla_regular);
    max-width: 50%;
    height: 3rem;
    font-size: 1.8em;
}

textarea {
    color: var(--green);
    font-family: var(--karla_regular);
    max-width: 50%;
    height: 8rem;
    font-size: 1.8em;
}

.form_one button{
    display: flex;
    flex: 1;
    font-family: var(--karla_regular);
    font-size: 1.8rem;
    border-radius: 0.5rem;
    padding: 1.5rem 0;
    border: 0;
    outline: 0;
    background-color: var(--yellow);
    max-width: 20rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    position: relative;
    color: var(--green);
    justify-content: center;
  }

  .form_one button:active{
    transform: scale(0.9);
}

.fname,
.lname,
.email,
.tel {
    display: flex;
    flex-direction: column;
}