nav {
    margin-top: 2rem;
    display: flex;
  gap: 4.5rem;
  align-items: center;
}

.logo_container {
    justify-content: flex-start;
}

.nav_list_container {
    justify-self: center;
    align-items: center;
    flex-shrink: 0;
}

.nav_list_container ul{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
}

ul {
    list-style: none;
}

li {
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--karla_regular);
}

a {
  text-decoration: none;
  color: var(--green);
  cursor: pointer;
}

.logo {
    width: 20rem;
    height: 7.6rem;
}

.navbar_menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.navbar_menu_nav_list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 2rem;
    text-align: right;
    border: 2px solid var(--green);
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0,0.2);
    position: absolute;
    top: 3rem;
}


@media screen and (max-width: 1050px) {
    .nav_list_container {
        display: none;
    }
    .navbar_menu {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 550px) {

}