.hero_container {
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding-top: 4rem;
  }

.left_container {
    flex: 1;
    /* width: 29%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-bottom: 2rem;
  }

.left_container h2{
    font-family: var(--markazi);
    font-size: 5.6rem;
    color: var(--yellow);
    font-weight: 300;
  }

.left_container h3 {
  font-weight: 300;
    font-size: 3.2rem;
    font-family: var(--markazi);
    margin-bottom: 1.5rem;
    color: white;
  }

.left_container article {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: white;
    font-family: var(--karla_regular);
  }

  .link-button {
    display: flex;
  }

.link-button button {
    font-family: var(--karla_regular);
    color: black;
    font-size: 1.8rem;
    min-width: 20rem;
    padding: 1.5rem 0;
    border-radius: 0.5rem;
    border: 0;
    outline: 0;
    background-color: var(--yellow);
    /* max-width: 50%; */
    cursor: pointer;
    flex-shrink: 0;
  }

.right_container {
    flex: 1;
    padding: 3rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right_container img{
    border-radius: 2rem;
    width: 91%;
    height: 91%;
}

@media screen and (max-width: 1050px) {
    .hero_container {
        flex-direction: column;
        padding-top: 4rem;
        gap: 1rem;
    }
    .right_container {
      justify-content: center;
    }

    .right_container img{
      border-radius: 2rem;
      width: 100%;
      height: 100%;
  }
}

@media screen and (max-width: 490px) {
    .left_container button {
        padding: 0.9rem 1.5rem;
        max-width: 100%;
    }
}

